* {
	margin: 0;
	padding: 0;
}
:root{
	
}
html {
	font-size: 16px;
}
button {
	cursor: pointer;
}
body {
	background-color: darkslateblue;
	min-height: 100vh;
	margin: 0 auto 100px auto;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
